@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: rgb(85, 3, 3);
  --secundary-color: rgb(233, 110, 110);
}

html {
  font-size: 62.5%;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  line-height: 1.5em;
}

.container {
  max-width: 64rem;
  margin: 5rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.apagar {
  font-size: 1.7rem;
  border-radius: 10rem;
  background-color: rgba(255, 0, 0, 0.205);
  border-color: rgba(94, 3, 3, 0.205);
  font-weight:450;
}

.tarefas {
  font-size: 2rem;
}
